name: CD

on:
  workflow_call:

permissions:
  contents: read
  packages: write

jobs:
  release:
    name: release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4



      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            REACT_APP_API_URL=${{ secrets.REACT_APP_API_URL }}
  deploy:
    name: Deploy to Render
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Deployment (Backend)
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}

      - name: Trigger Render Deployment (Frontend)
        run: curl -X POST ${{ secrets.RENDER_FRONTEND_DEPLOY_HOOK }}