name: Main Pipeline

on:
  pull_request:
    branches: [main]
  push:
    branches: ["*"]

jobs:
  build:
    name: Run CI
    uses: ./.github/workflows/ci.yml

  deploy:
    name: Run CD
    needs: build

    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    permissions:
      contents: read
      packages: write

    uses: ./.github/workflows/cd.yml
    secrets: inherit
